input/
output/
data/
db/
*.tab
*.gff
*.gff3
*.fa
*.faa
*.fna
*.fasta

*.un~

archives/
ARCHIVE/

# downloaded source files
smof/
synder/

tags

*log
*.RDat
*.Rdat
*.RData
*.Rhistory

**/.ropeproject/

# systemic specific scripts
util/prep-araport11.sh
util/prepare-data.sh

# My personal temporary files
z*

# latex temporary files and folders
cache/
figure/
*.aux
*.log
*.pdf
*.tex
*.fdb_latexmk
*.fls
*.toc
*.out
