INPUT="input"

GFF_DIR="$HOME/db/fagin-input/gff"

FNA_DIR="$HOME/db/fagin-input/fna"

SYN_DIR="$HOME/db/fagin-input/syn"

TREE="$HOME/db/fagin-input/brassicaceae.tree"

FOCAL_SPECIES="Arabidopsis_thaliana"

SEARCH_GFF="$HOME/db/fagin-input/synder-at.gff"

HOME_DIR="$HOME/src/git/cadmium"

ORPHAN_LIST="$HOME/db/fagin-input/orphan-list.txt"

# --- Minimum length of an interval in the synteny map (target side) ---
# This value can be adjusted to change the resolution of the map. Higher values
# reduce the number of syntenic links that will be included, thus generally
# increase the number queries contained entirely within the search intervals.
# The cost is increased search space.
MINLEN=0

# Synder output described match type with 5 flags:
#    * 0 - query is fully within the target interval
#    * 1 - query starts outside the interval but stops inside
#    * 2 - query stops outside the interval but starts inside 
#    * 3 - query fully contains the target interval (start and stop unbounded)
#    * 4 - query does not overlap the target interval (unbound and unanchored)
# If the *extend* option is set, then unbounded edges of search intervals are
# extended by the length of the query gene times *extend_factor*.
EXTEND=TRUE     # Turn on EXTEND
EXTEND_RATIO=1  # Set the mutiplier for the termnal windoes
